@page "/"

@if (!loggedIn)
{
    @if (metamaskIsInstalled)
    {
        <button @onclick="MetaMaskSignInAsync">Sign In With Metamask</button>
        <h3 @bind="error"></h3>
    }
    else
    {
        <h3>Metamask is not installed in this browser</h3>
    }
}
else
{
    <h1>Hello @metamaskId !</h1>
    <input @bind="input"/>
    <button @onclick="Encrypt">Encrypt Message</button>
    <h1>Encrypted Text: @encryptedText</h1>
    <button @onclick="Decrypt">Decrypt Message</button>
    <h1>Decrypted Text: @decryptedText</h1>
}
